*{

    margin: 0;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(55, 81, 126);
}



.falso-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.falso-nav img{
    height: 35px;
    margin-top: 7px;
}


.falso-nav a{
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    padding-top: 3px;
    border-radius: 20%;
    background-color: rgb(71, 178, 228);
    border-color: rgb(71, 178, 228);
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}

.title h1{
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.title p{
    margin-bottom:40px ;
   color:rgb(134, 134, 134) ; 
}

    .padre-cajas{
        margin-top: 20px;
        width: 1000px;
        margin: 0 auto;
    }
        .contenedor-cajas{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    

         }

         .caja{
        width: 300px;
        height: 250px;
        text-align: center;
        border: 1px solid  grey;
        margin-bottom: 20px;
        padding-top: 30px;
        

         
          }

        .caja i{
            font-size: 60px;
            color: rgb(71, 178, 228);
         }
         .caja h4{
            margin-top:25px ;
            margin-bottom: 20px;
            font-weight: 400;
         }

         .caja p{
            line-height: 1.5;
            color: rgb(134, 134, 134);
         }

         .boton-detail{
            margin-top: 10px;
            border: 2px solid black;
            padding: 5px;
            padding-top: 3px;
            border-radius: 20%;
            background-color: rgb(71, 178, 228);
            border-color: rgb(71, 178, 228);
            text-decoration: none;
            color: rgb(255, 255, 255);
            
           
            }